extends /blocks/layout-default/layout-default
include ../blocks/title/title
include ../blocks/menu/menu

block head
	- var pageTitle = 'My test work';

block content
	+b('div').wrapper-page
		+b('div').header
			+title
			+menu

		+b('div').content
			+e('div').item_a
				+b('a').link-box._owl&attributes({'href': '#'})
					+e('div').content_owl

			+e('div').item_b
				+b('a').link-box._frog&attributes({'href': '#'})
					+e('div').content_frog

			+e('div').item_c
				+b('a').link-box._owl2&attributes({'href': '#'})
					+e('div').content_owl2

			+e('div').item_d
				+b('a').link-box._ship&attributes({'href': '#'})
					+e('div').content_ship

			+e('div').item_e
				+b('a').link-box._king&attributes({'href': '#'})
					+e('div').content_king

			+e('div').item_f
				+b('a').link-box._girl&attributes({'href': '#'})
					+e('div').content_girl

			+e('div').item_j
				+b('a').link-box._girl2&attributes({'href': '#'})
					+e('div').content_girl2

			+e('div').item_h
				+b('a').link-box._boyes&attributes({'href': '#'})
					+e('div').content_boyes

			+e('div').item_i
				+b('a').link-box._boy&attributes({'href': '#'})
					+e('div').content_boy
