mixin menu()
	+b.NAV.menu&attributes(attributes)
		block

		+e('h2').title-menu Главное меню

		+e('a').link&attributes({'href': '#'})
			| Телеканалы

		+e('a').link&attributes({'href': '#'})
			| Маркетинг

		+e('a').link&attributes({'href': '#'})
			| Котакты

